{
    "plugins": [
        "prettier"
    ],
    "ignorePatterns": [
        "bin/",
        "dist/",
        "node_modules/"
    ],
    "rules": {
        "no-console": 1,
        "prettier/prettier": [
            "error",
            {
                "printWidth": 100,
                "singleQuote": true,
                "trailingComma": "none",
                "bracketSpacing": true,
                "jsxBracketSameLine": true,
                "tabWidth": 4,
                "parser": "babel"
            }
        ],
        "eqeqeq": [
            2,
            "allow-null"
        ]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "prettier",
        "prettier/standard"
    ]
}
